<div class="proyectos">
    <app-title-separator-izq [title]="title"></app-title-separator-izq>
    <div class="proyectos_container" *ngFor="let proy of proyectos">
        <!-- <app-proyectosCard></app-proyectosCard> -->
        <div class="proyectos_container--card">
            <div class="proyectos_container--card_description">
                <h3>{{proy.proyectos_title}}</h3>
                <p>{{proy.proyectos_description}}</p>
                <span>{{proy.proyectos_tecnologias}}</span>
            </div>
            <div class="proyectos_container--card_logo">
                <a href="{{proy.proyectos_url}}" target="blank">
                    <img src="{{proy.proyectos_logo}}" alt=""> 
                    <span><mat-icon>link</mat-icon></span>
                </a>
            </div>
        </div>        
    </div>
</div>
<hr>
