<div class="proyectos">
    <app-title-separator-izq [title]="title"></app-title-separator-izq>
    <div class="proyectos_container">
        <!-- <app-proyectosCard></app-proyectosCard> -->
        <div>
            <h3>Proyecto</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam quia aperiam temporibus quam earum odio iste? Ipsa, accusantium error? Eveniet laboriosam nihil nobis quod, fugit ab accusamus incidunt et dicta.
            Expedita pariatur beatae consequuntur similique sequi id tempore nesciunt vitae nihil praesentium animi, magnam voluptatum excepturi nobis repellat dolorum atque ipsam facere totam perspiciatis fugiat alias! Dicta dignissimos sed facere.
            Facere sapiente magnam recusandae, officiis explicabo libero nemo at totam voluptates saepe. Totam id asperiores labore maiores consequuntur cum delectus nam optio harum voluptatibus, numquam voluptatem odio ipsa ad ab.</p>
        </div>
        <div>
            <h3>Proyecto</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam quia aperiam temporibus quam earum odio iste? Ipsa, accusantium error? Eveniet laboriosam nihil nobis quod, fugit ab accusamus incidunt et dicta.
            Expedita pariatur beatae consequuntur similique sequi id tempore nesciunt vitae nihil praesentium animi, magnam voluptatum excepturi nobis repellat dolorum atque ipsam facere totam perspiciatis fugiat alias! Dicta dignissimos sed facere.
            Facere sapiente magnam recusandae, officiis explicabo libero nemo at totam voluptates saepe. Totam id asperiores labore maiores consequuntur cum delectus nam optio harum voluptatibus, numquam voluptatem odio ipsa ad ab.</p>
        </div>
        <div>
            <h3>Proyecto</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam quia aperiam temporibus quam earum odio iste? Ipsa, accusantium error? Eveniet laboriosam nihil nobis quod, fugit ab accusamus incidunt et dicta.
            Expedita pariatur beatae consequuntur similique sequi id tempore nesciunt vitae nihil praesentium animi, magnam voluptatum excepturi nobis repellat dolorum atque ipsam facere totam perspiciatis fugiat alias! Dicta dignissimos sed facere.
            Facere sapiente magnam recusandae, officiis explicabo libero nemo at totam voluptates saepe. Totam id asperiores labore maiores consequuntur cum delectus nam optio harum voluptatibus, numquam voluptatem odio ipsa ad ab.</p>
        </div>
        <div>
            <h3>Proyecto</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam quia aperiam temporibus quam earum odio iste? Ipsa, accusantium error? Eveniet laboriosam nihil nobis quod, fugit ab accusamus incidunt et dicta.
            Expedita pariatur beatae consequuntur similique sequi id tempore nesciunt vitae nihil praesentium animi, magnam voluptatum excepturi nobis repellat dolorum atque ipsam facere totam perspiciatis fugiat alias! Dicta dignissimos sed facere.
            Facere sapiente magnam recusandae, officiis explicabo libero nemo at totam voluptates saepe. Totam id asperiores labore maiores consequuntur cum delectus nam optio harum voluptatibus, numquam voluptatem odio ipsa ad ab.</p>
        </div>
    </div>
</div>
<hr>
