<app-title-separator-izq [title]="title"></app-title-separator-izq>
<div class="educacion">
    <div class="educacion_container" *ngFor="let ed of educacion">
        <div class="educacion_container--edu">
            <h1 class="educacion_container--exp--title">{{ed.ed_title}}</h1>
            <p class="educacion_container--exp--description">{{ed.educacion}}</p>
        </div>
        <div class="educacion_container--logos">
            <img src="{{ed.logo}}" alt="">
        </div>
    </div>
</div>
 