<div class="educacion">
    <app-title-separator [title]="title"></app-title-separator>
    <div class="educacion_container">
        <div class="educacion_container--logos">
            Logos
        </div>
        <div class="educacion_container--edu">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores perspiciatis illum esse recusandae enim. Nisi praesentium vero impedit, incidunt distinctio ea fuga id beatae minima quasi est dolor assumenda velit.
        </div>
    </div>
</div>
