<div class="experiencia">
    <app-title-separator [title]="title"></app-title-separator>
    <div class="experiencia_container">
        <div class="experiencia_container--logos">
            Logos
        </div>
        <div class="experiencia_container--exp">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores perspiciatis illum esse recusandae enim. Nisi praesentium vero impedit, incidunt distinctio ea fuga id beatae minima quasi est dolor assumenda velit.
        </div>
    </div>
</div>
