<div class="experiencia">
    <app-title-separator [title]="title"></app-title-separator>
    <div class="experiencia_container" *ngFor="let exp of experiencia">
        <div class="experiencia_container--logos">
            <img src="{{exp.logo}}" alt="">
        </div>
        <div class="experiencia_container--exp">
            <h1 class="experiencia_container--exp--title">{{exp.exp_title}}</h1>
            <p class="experiencia_container--exp--description">{{exp.experiencia}}</p>
        </div>
    </div>
</div>
