.titleContainer {
  display: flex;
  align-items: center;
  & h1 {
    margin-left: 10%;
    margin-bottom: 0;
    background: #26aeae;
    border-radius: 20px;
    padding: 5px;
    color: white;
  }
  & span {
    height: 5px;
    background-color: #26aeae;
    width: 100%;
  }
}
