.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  &_bottom {
    width: 50%;
    display: flex;
    justify-content: center;
    & button {
      margin: 2%;
      & a {
        text-decoration: none;
        color: black;
      }
    }
  }
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
