<div class="login">
    <form action="submit">
        <label for="email">Email</label>
        <input #email (keyup)="handleEmailChange(email.value)" type="text" name="email">
        <label for="password">Password</label>
        <input #password (keyup)="handlePassChange(password.value)" type="password" name="password">
        <div class="login_bottom">
            <button type="submit" (click)="Login()">Sign In</button>
            <button><a href="http://localhost:4200">Volver</a></button>
        </div>
    </form>
</div>

