<div class="skills">
    <app-title-separator [title]="title"></app-title-separator>
    <div class="skills_container">
        <div class="skills_container--circle">
          1  
        </div>
        <div class="skills_container--circle">
          1  
        </div>
        <div class="skills_container--circle">
          1  
        </div>
        <div class="skills_container--circle">
          1  
        </div>
        <div class="skills_container--circle">
          1  
        </div>
        <div class="skills_container--circle">
          1  
        </div>
    </div>
</div>
