<div class="acercaDe">
    <div class="acercaDe_personalInfo">
        
    </div>
    <div class="acercaDe_about">
        <h1 class="acercaDe_about--h1">
            Sobre mí
        </h1>
        <p>Habiendo terminado la carrera de Full-Stack developer, me dediqué a poner en práctica todo lo aprendido, desarrollando proyectos en grupos de trabajo que emulaban ambientes de trabajo reales, utilizando Scrum como metodología ágil. Actualmente me desempeño como desarrollador front-end en un equipo de trabajo multidisciplinario, aplicando las funcionalidades necesarias, previamente gestionadas por analistas funcionales.</p>
    </div>
</div>
